name: Monthly Data Pipeline

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'scripts/**'
      - '.github/workflows/**'

jobs:
  process-data:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        pip install pandas pyarrow gspread oauth2client duckdb

    - name: Create credentials file
      run: |
       mkdir -p secret
       echo '${{ secrets.GOOGLE_SHEETS_CREDS_FILE }}' > secret/sheets-pipeline-483414-4c2de1d1423c.json

    
    - name: Run data pipeline
      env:
        GOOGLE_SHEETS_CREDS: ${{ secrets.GOOGLE_SHEETS_CREDS_FILE }}
        SOURCE_SHEET_URL: ${{ secrets.SOURCE_SHEET_URL }}
        OUTPUT_SHEET_URL: ${{ secrets.OUTPUT_SHEET_URL }}
      run: |
        cd scripts
        python main.py
    
    - name: Upload parquet artifacts
      uses: actions/upload-artifact@v4
      with:
        name: monthly-data
        path: data/*.parquet
        retention-days: 90
        if-no-files-found: ignore
